[gerrit]
	basePath = git
	canonicalWebUrl = http://gerrit.trustchain.com

[database]
	type = postgresql
	hostname = postgres
	database = reviewdb
	username = gerrit

[index]
	type = LUCENE

[auth]
	type = ldap
	gitBasicAuth = true

[ldap]
	server = ldap://ldap.trustchain.com
	username = cn=admin,dc=trustchain,dc=com
	accountBase = dc=trustchain,dc=com
	accountPattern = (&(objectClass=inetorgperson)(cn=${username}))
	accountFullName = displayName
	accountEmailAddress = mail

[sshd]
	listenAddress = *:29418

[httpd]
	listenUrl = http://*:8080/

[cache]
	directory = cache

[container]
	user = root
